USE [SkymResturant]
GO
/****** Object:  StoredProcedure [dbo].[add_item_to_order]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure update_table_status(
-- @order_id int 
--)
--as 
--begin 
--	update [Table] 
--	set [status]=2
--	where ((select top 1[Order].Finished from [Order] where [Order].id=@order_id)=1);
--end;

--create procedure start_order_for_new_customer(
--	@customerName nvarchar(255),
--	@customerPhoneNumber nvarchar(11),
--	@customerType int,
--	@table_id int,
--	@waiter int
--)
--as 
--begin
--	if @customerType< 1 and @customerType>3
--		begin
--			RAISERROR('customer type must be 1,2 or 3',16,1);
--			return;
--		end
--	insert into [Customer]([name],[phoneNumber])
--	values (@customerName,@customerPhoneNumber);
--	DECLARE @InsertedCustomerID INT;
--	SET @InsertedCustomerID= SCOPE_IDENTITY();

--	insert into [Order](Finished,orderDate)
--	values (0,GETDATE());
--	DECLARE @InsertedOrderID INT;
--	SET @InsertedOrderID= SCOPE_IDENTITY();

--	if @customerType=1 
--		begin
--			insert into [InPersonOrderCustomer]([customer_id],[table_id],[order_id],[waiter])
--			values (@InsertedCustomerID,@table_id,@InsertedOrderID,@waiter);
--		end

--end;

CREATE procedure [dbo].[add_item_to_order](
	@order_id int,
	@menu_id int,
	@count int
)
as 
begin
declare @x int;

set @x = (select top 1 o.[count] from OrderMenu as o where o.order_id=@order_id AND o.menu_id=@menu_id);
if @x is null begin
if ((select (case when [Menu].[count]-@count>0 then 1 else 0 end) from Menu where Menu.id=@menu_id)=1)
begin
	if (@count<0) begin
	begin raiserror('',1,16); end
	end
	else
	insert into [OrderMenu]([order_id],[menu_id],[count])
	values 
	(@order_id,@menu_id,@count);
	



end
else
begin
raiserror('menu count is not enough !',1,16);
end;

end;
else begin
if (@x+@count > (select m.[count] from Menu as m where m.id=@menu_id)) OR (@x+@count<0)
begin raiserror('',1,16); end
else begin 
update OrderMenu set [count]= @x+@count where [order_id]=@order_id 
AND [menu_id]=@menu_id;


update Menu set [count]=[count]-@count where [id]=@menu_id;

end
end


end
;
GO
