USE [SkymResturant]
GO
/****** Object:  Table [dbo].[OrderMenu]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderMenu](
	[order_id] [int] NOT NULL,
	[menu_id] [int] NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [OrderMenu_PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderMenu]  WITH CHECK ADD  CONSTRAINT [OrderMenu_Menu] FOREIGN KEY([menu_id])
REFERENCES [dbo].[Menu] ([id])
GO
ALTER TABLE [dbo].[OrderMenu] CHECK CONSTRAINT [OrderMenu_Menu]
GO
ALTER TABLE [dbo].[OrderMenu]  WITH CHECK ADD  CONSTRAINT [OrderMenu_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderMenu] CHECK CONSTRAINT [OrderMenu_Order]
GO
