USE [SkymResturant]
GO
/****** Object:  StoredProcedure [dbo].[end_order]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[end_order](
	@order_id int
)
as 
begin
update [Order]
set [Finished]=1
where [Order].id=@order_id;

exec update_table_status @order_id,1;

end;
GO
