USE [SkymResturant]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[ingrediants] [nvarchar](255) NULL,
	[price] [int] NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [PK__Menu__3213E83F03E10462] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [CK__Menu__type__3A81B327] CHECK  (([type]>=(1) AND [type]<=(5)))
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [CK__Menu__type__3A81B327]
GO
