USE [SkymResturant]
GO
/****** Object:  StoredProcedure [dbo].[start_order_for_existing_customer]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[start_order_for_existing_customer](
	@customer_id int,
	@table_id int,
	@waiter int,
	@order_type int,
	@address nvarchar(255),
	@orderDate datetime
)
as 
begin	
	
	insert into [Order](Finished,orderDate)
	values (0,@orderDate);
	DECLARE @InsertedOrderID INT;
	SET @InsertedOrderID= SCOPE_IDENTITY();
	if @order_type=1 
		begin
            if (select top 1 [Table].[status] from [Table] where [Table].id=@table_id)=1
				begin
					insert into [InPersonOrderCustomer]([customer_id],[table_id],[order_id],[waiter])
					values (@customer_id,@table_id,@InsertedOrderID,@waiter);
					exec update_table_status @InsertedOrderID,2;
				end
			else 
				begin
					raiserror('given table is already in use !',1,16);							
				end
		end
	if (@order_type=2)
		begin
			insert into [TakeAwayCustomer]([customer_id],[order_id])
			values (@customer_id,@InsertedOrderID);
		end
	if (@order_type=3)
		begin
			insert into [DeliveryCustomer]([customer_id],[order_id],[address])
			values (@customer_id,@InsertedOrderID,@address);
		end
end;
GO
