USE [SkymResturant]
GO
/****** Object:  StoredProcedure [dbo].[run_test_scenario]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[run_test_scenario]
as
begin
delete from [OrderMenu];
delete from Menu;
delete from DeliveryCustomer;
delete from InPersonOrderCustomer;
delete from [TakeAwayCustomer];
delete from [Order];
delete from [Staff];
delete from [Table];
delete from Customer;

insert into [Table]([id],[capacity],[status])
values (1,2,1),
(2,3,1),
(3,4,1),
(4,5,1);

DECLARE @JsonTaylor_StaffId INT;
insert into Staff ([fName],[lName],[salary],[startDate],[type])
values 
('json','taylor',10000,'2022-02-02',1);
;
set @JsonTaylor_StaffId=SCOPE_IDENTITY();



DECLARE @FishWithRice_MenuId INT;
insert into [Menu]([name],[price],[type],[count])
values 
('Fish with rice',100,2,50);
set @FishWithRice_MenuId=SCOPE_IDENTITY();


DECLARE @CocaCola_MenuId INT;
insert into [Menu]([name],[price],[type],[count])
values 
('cocaCola',10,4,150);
set @CocaCola_MenuId=SCOPE_IDENTITY();



DECLARE @CesarSalad_MenuId INT;
insert into [Menu]([name],[price],[type],[count])
values 
('salad cesar',30,1,20);
set @CesarSalad_MenuId =SCOPE_IDENTITY();



DECLARE  @CheeseCake_MenuId INT;
insert into [Menu]([name],[price],[type],[count])
values 
('cheese cake',15,1,100);
set @CheeseCake_MenuId  =SCOPE_IDENTITY();


exec start_order_for_new_customer 'jack' , '09924300987',1,1,@JsonTaylor_StaffId,null;
exec start_order_for_new_customer 'jimmy' , '01121100987',1,2,@JsonTaylor_StaffId,null;
exec start_order_for_new_customer 'ricky' , '02290100987',1,3,@JsonTaylor_StaffId,null;

Declare @jack_order_id int ;
Declare @jimmy_order_id int ;
Declare @ricky_order_id int ;

set @jack_order_id=(select top 1 order_id from InPersonOrderCustomer inner join Customer on Customer.id=InPersonOrderCustomer.customer_id where Customer.[name]='jack');
set @jimmy_order_id=(select top 1 order_id from InPersonOrderCustomer inner join Customer on Customer.id=InPersonOrderCustomer.customer_id where Customer.[name]='jimmy');
set @ricky_order_id=(select top 1 order_id from InPersonOrderCustomer inner join Customer on Customer.id=InPersonOrderCustomer.customer_id where Customer.[name]='ricky');


exec add_item_to_order @jack_order_id , @FishWithRice_MenuId,2;
exec add_item_to_order @jack_order_id, @CocaCola_MenuId,3;

exec add_item_to_order @jimmy_order_id , @CesarSalad_MenuId,3;
exec add_item_to_order @jimmy_order_id, @CocaCola_MenuId,3;


exec add_item_to_order @ricky_order_id, @CheeseCake_MenuId,1;


exec end_order @ricky_order_id;
exec end_order @jimmy_order_id;
exec end_order @jack_order_id;


end;
GO
