USE [SkymResturant]
GO
/****** Object:  UserDefinedFunction [dbo].[calculate_order_price]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[calculate_order_price](
@order_id int
)
returns int
as
begin

declare @result int;
select @result=SUM(Menu.price*[OrderMenu].[count]) 
from OrderMenu
inner join Menu on OrderMenu.menu_id=Menu.id
where OrderMenu.order_id=@order_id
;
declare @ans int;
set @ans=case when @result is null then 0 else @result end;
return @ans;

end;
GO
