USE [SkymResturant]
GO
/****** Object:  Table [dbo].[InPersonOrderCustomer]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InPersonOrderCustomer](
	[customer_id] [int] NOT NULL,
	[table_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[waiter] [int] NOT NULL,
 CONSTRAINT [InPersonOrderCustomer_primaryKey] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[table_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InPersonOrderCustomer]  WITH CHECK ADD  CONSTRAINT [InPerosnOrderCustomer_Staff_fk] FOREIGN KEY([waiter])
REFERENCES [dbo].[Staff] ([id])
GO
ALTER TABLE [dbo].[InPersonOrderCustomer] CHECK CONSTRAINT [InPerosnOrderCustomer_Staff_fk]
GO
ALTER TABLE [dbo].[InPersonOrderCustomer]  WITH CHECK ADD  CONSTRAINT [InPersonCustomer_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[InPersonOrderCustomer] CHECK CONSTRAINT [InPersonCustomer_Customer]
GO
ALTER TABLE [dbo].[InPersonOrderCustomer]  WITH CHECK ADD  CONSTRAINT [InPersonCustomer_Order_fk] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[InPersonOrderCustomer] CHECK CONSTRAINT [InPersonCustomer_Order_fk]
GO
ALTER TABLE [dbo].[InPersonOrderCustomer]  WITH CHECK ADD  CONSTRAINT [InPersonCustomer_table_fk] FOREIGN KEY([table_id])
REFERENCES [dbo].[Table] ([id])
GO
ALTER TABLE [dbo].[InPersonOrderCustomer] CHECK CONSTRAINT [InPersonCustomer_table_fk]
GO
