USE [SkymResturant]
GO
/****** Object:  View [dbo].[top_customers_report]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[top_customers_report]
as 
select x.customer_id as customer_id , Customer.[name] as customer_name,x.count_of_orders,x.customer_total_spending from(
select customer_id,count(order_id) as count_of_orders , sum(order_total_price) as customer_total_spending   from
(
select 
Customer.Id as customer_id,
NULL as order_id,
0 as order_total_price
from Customer
union
select 
DeliveryCustomer.customer_id as customer_id ,
DeliveryCustomer.order_id as order_id,
[dbo].[calculate_order_price](DeliveryCustomer.[order_id]) as order_total_price
from DeliveryCustomer

union
select
InPersonOrderCustomer.customer_id as customer_id ,
InPersonOrderCustomer.order_id as order_id,
[dbo].[calculate_order_price](InPersonOrderCustomer.[order_id]) as order_total_price
from InPersonOrderCustomer

union
select
TakeAwayCustomer.customer_id as customer_id ,
TakeAwayCustomer.order_id as order_id,
[dbo].[calculate_order_price](TakeAwayCustomer.[order_id]) as order_total_price
from TakeAwayCustomer
) as combined_data
group by customer_id 

order by count_of_orders desc , customer_total_spending desc OFFSET 0 ROWS
) as x inner join Customer on Customer.id=x.customer_id;
GO
