USE [master]
GO
/****** Object:  Database [SkymResturant]    Script Date: 6/18/2024 6:09:05 AM ******/
CREATE DATABASE [SkymResturant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SkymResturant', FILENAME = N'/var/opt/mssql/data/SkymResturant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SkymResturant_log', FILENAME = N'/var/opt/mssql/data/SkymResturant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SkymResturant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SkymResturant]
GO
/****** Object:  User [mmd]    Script Date: 6/18/2024 6:09:06 AM ******/
CREATE USER [mmd] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[calculate_earning_in_date_range]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculate_earning_in_date_range](
@start datetime,
@end datetime
)
returns int
as
begin
declare @result int;
select  @result=SUM([dbo].[calculate_order_price]([Order].id)) from 
[Order]
where [Order].orderDate BETWEEN @start AND @end;
return @result;
end;
GO
/****** Object:  UserDefinedFunction [dbo].[calculate_order_price]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[calculate_order_price](
@order_id int
)
returns int
as
begin

declare @result int;
select @result=SUM(Menu.price*[OrderMenu].[count]) 
from OrderMenu
inner join Menu on OrderMenu.menu_id=Menu.id
where OrderMenu.order_id=@order_id
;
declare @ans int;
set @ans=case when @result is null then 0 else @result end;
return @ans;

end;
GO
/****** Object:  Table [dbo].[InPersonOrderCustomer]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InPersonOrderCustomer](
	[customer_id] [int] NOT NULL,
	[table_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[waiter] [int] NOT NULL,
 CONSTRAINT [InPersonOrderCustomer_primaryKey] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[table_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryCustomer]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryCustomer](
	[customer_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TakeAwayCustomer]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TakeAwayCustomer](
	[customer_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[phoneNumber] [nchar](11) NOT NULL,
 CONSTRAINT [PK__Customer__3213E83F0117647C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[top_customers_report]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[top_customers_report]
as 
select x.customer_id as customer_id , Customer.[name] as customer_name,x.count_of_orders,x.customer_total_spending from(
select customer_id,count(order_id) as count_of_orders , sum(order_total_price) as customer_total_spending   from
(
select 
Customer.Id as customer_id,
NULL as order_id,
0 as order_total_price
from Customer
union
select 
DeliveryCustomer.customer_id as customer_id ,
DeliveryCustomer.order_id as order_id,
[dbo].[calculate_order_price](DeliveryCustomer.[order_id]) as order_total_price
from DeliveryCustomer

union
select
InPersonOrderCustomer.customer_id as customer_id ,
InPersonOrderCustomer.order_id as order_id,
[dbo].[calculate_order_price](InPersonOrderCustomer.[order_id]) as order_total_price
from InPersonOrderCustomer

union
select
TakeAwayCustomer.customer_id as customer_id ,
TakeAwayCustomer.order_id as order_id,
[dbo].[calculate_order_price](TakeAwayCustomer.[order_id]) as order_total_price
from TakeAwayCustomer
) as combined_data
group by customer_id 

order by count_of_orders desc , customer_total_spending desc OFFSET 0 ROWS
) as x inner join Customer on Customer.id=x.customer_id;
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderDate] [datetime] NOT NULL,
	[Finished] [bit] NOT NULL,
 CONSTRAINT [PK__Order__3213E83F6C76F16D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[day_earning_report]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[day_earning_report]
as
select  CAST ([Order].orderDate AS DATE) as orderDate, SUM([dbo].[calculate_order_price]([Order].[id])) as earning from 
[Order]
GROUP BY CAST ([Order].orderDate AS DATE)
;
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[ingrediants] [nvarchar](255) NULL,
	[price] [int] NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [PK__Menu__3213E83F03E10462] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLog]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[username] [varchar](200) NOT NULL,
	[type] [int] NOT NULL,
	[happeningDateTime] [datetime] NOT NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_OrderLog] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderMenu]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderMenu](
	[order_id] [int] NOT NULL,
	[menu_id] [int] NOT NULL,
	[count] [int] NOT NULL,
 CONSTRAINT [OrderMenu_PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nvarchar](255) NOT NULL,
	[lName] [nvarchar](255) NOT NULL,
	[salary] [int] NOT NULL,
	[startDate] [date] NOT NULL,
	[type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[id] [int] NOT NULL,
	[status] [int] NOT NULL,
	[capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DeliveryCustomer]  WITH CHECK ADD  CONSTRAINT [DeliveryCustomer_Customer_fk] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[DeliveryCustomer] CHECK CONSTRAINT [DeliveryCustomer_Customer_fk]
GO
ALTER TABLE [dbo].[DeliveryCustomer]  WITH CHECK ADD  CONSTRAINT [DeliveryCustomer_Order_fk] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[DeliveryCustomer] CHECK CONSTRAINT [DeliveryCustomer_Order_fk]
GO
ALTER TABLE [dbo].[InPersonOrderCustomer]  WITH CHECK ADD  CONSTRAINT [InPerosnOrderCustomer_Staff_fk] FOREIGN KEY([waiter])
REFERENCES [dbo].[Staff] ([id])
GO
ALTER TABLE [dbo].[InPersonOrderCustomer] CHECK CONSTRAINT [InPerosnOrderCustomer_Staff_fk]
GO
ALTER TABLE [dbo].[InPersonOrderCustomer]  WITH CHECK ADD  CONSTRAINT [InPersonCustomer_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[InPersonOrderCustomer] CHECK CONSTRAINT [InPersonCustomer_Customer]
GO
ALTER TABLE [dbo].[InPersonOrderCustomer]  WITH CHECK ADD  CONSTRAINT [InPersonCustomer_Order_fk] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[InPersonOrderCustomer] CHECK CONSTRAINT [InPersonCustomer_Order_fk]
GO
ALTER TABLE [dbo].[InPersonOrderCustomer]  WITH CHECK ADD  CONSTRAINT [InPersonCustomer_table_fk] FOREIGN KEY([table_id])
REFERENCES [dbo].[Table] ([id])
GO
ALTER TABLE [dbo].[InPersonOrderCustomer] CHECK CONSTRAINT [InPersonCustomer_table_fk]
GO
ALTER TABLE [dbo].[OrderLog]  WITH CHECK ADD  CONSTRAINT [FK_OrderLog_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderLog] CHECK CONSTRAINT [FK_OrderLog_Order]
GO
ALTER TABLE [dbo].[OrderMenu]  WITH CHECK ADD  CONSTRAINT [OrderMenu_Menu] FOREIGN KEY([menu_id])
REFERENCES [dbo].[Menu] ([id])
GO
ALTER TABLE [dbo].[OrderMenu] CHECK CONSTRAINT [OrderMenu_Menu]
GO
ALTER TABLE [dbo].[OrderMenu]  WITH CHECK ADD  CONSTRAINT [OrderMenu_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderMenu] CHECK CONSTRAINT [OrderMenu_Order]
GO
ALTER TABLE [dbo].[TakeAwayCustomer]  WITH CHECK ADD  CONSTRAINT [TakeAwayCustomer_Customer_fk] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[TakeAwayCustomer] CHECK CONSTRAINT [TakeAwayCustomer_Customer_fk]
GO
ALTER TABLE [dbo].[TakeAwayCustomer]  WITH CHECK ADD  CONSTRAINT [TakeAwayCustomer_Order_fk] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[TakeAwayCustomer] CHECK CONSTRAINT [TakeAwayCustomer_Order_fk]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [CK__Menu__type__3A81B327] CHECK  (([type]>=(1) AND [type]<=(5)))
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [CK__Menu__type__3A81B327]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD CHECK  (([type]>=(1) AND [type]<=(5)))
GO
ALTER TABLE [dbo].[Table]  WITH CHECK ADD CHECK  (([status]>=(1) AND [status]<=(2)))
GO
/****** Object:  StoredProcedure [dbo].[add_item_to_order]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create procedure update_table_status(
-- @order_id int 
--)
--as 
--begin 
--	update [Table] 
--	set [status]=2
--	where ((select top 1[Order].Finished from [Order] where [Order].id=@order_id)=1);
--end;

--create procedure start_order_for_new_customer(
--	@customerName nvarchar(255),
--	@customerPhoneNumber nvarchar(11),
--	@customerType int,
--	@table_id int,
--	@waiter int
--)
--as 
--begin
--	if @customerType< 1 and @customerType>3
--		begin
--			RAISERROR('customer type must be 1,2 or 3',16,1);
--			return;
--		end
--	insert into [Customer]([name],[phoneNumber])
--	values (@customerName,@customerPhoneNumber);
--	DECLARE @InsertedCustomerID INT;
--	SET @InsertedCustomerID= SCOPE_IDENTITY();

--	insert into [Order](Finished,orderDate)
--	values (0,GETDATE());
--	DECLARE @InsertedOrderID INT;
--	SET @InsertedOrderID= SCOPE_IDENTITY();

--	if @customerType=1 
--		begin
--			insert into [InPersonOrderCustomer]([customer_id],[table_id],[order_id],[waiter])
--			values (@InsertedCustomerID,@table_id,@InsertedOrderID,@waiter);
--		end

--end;

CREATE procedure [dbo].[add_item_to_order](
	@order_id int,
	@menu_id int,
	@count int
)
as 
begin
declare @x int;

set @x = (select top 1 o.[count] from OrderMenu as o where o.order_id=@order_id AND o.menu_id=@menu_id);
if @x is null begin
if ((select (case when [Menu].[count]-@count>0 then 1 else 0 end) from Menu where Menu.id=@menu_id)=1)
begin
	if (@count<0) begin
	begin raiserror('',1,16); end
	end
	else
	insert into [OrderMenu]([order_id],[menu_id],[count])
	values 
	(@order_id,@menu_id,@count);
	



end
else
begin
raiserror('menu count is not enough !',1,16);
end;

end;
else begin
if (@x+@count > (select m.[count] from Menu as m where m.id=@menu_id)) OR (@x+@count<0)
begin raiserror('',1,16); end
else begin 
update OrderMenu set [count]= @x+@count where [order_id]=@order_id 
AND [menu_id]=@menu_id;


update Menu set [count]=[count]-@count where [id]=@menu_id;

end
end


end
;
GO
/****** Object:  StoredProcedure [dbo].[end_order]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[end_order](
	@order_id int
)
as 
begin
update [Order]
set [Finished]=1
where [Order].id=@order_id;

exec update_table_status @order_id,1;

end;
GO
/****** Object:  StoredProcedure [dbo].[run_test_scenario]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[run_test_scenario]
as
begin
delete from [OrderMenu];
delete from Menu;
delete from DeliveryCustomer;
delete from InPersonOrderCustomer;
delete from [TakeAwayCustomer];
delete from [Order];
delete from [Staff];
delete from [Table];
delete from Customer;

insert into [Table]([id],[capacity],[status])
values (1,2,1),
(2,3,1),
(3,4,1),
(4,5,1);

DECLARE @JsonTaylor_StaffId INT;
insert into Staff ([fName],[lName],[salary],[startDate],[type])
values 
('json','taylor',10000,'2022-02-02',1);
;
set @JsonTaylor_StaffId=SCOPE_IDENTITY();



DECLARE @FishWithRice_MenuId INT;
insert into [Menu]([name],[price],[type],[count])
values 
('Fish with rice',100,2,50);
set @FishWithRice_MenuId=SCOPE_IDENTITY();


DECLARE @CocaCola_MenuId INT;
insert into [Menu]([name],[price],[type],[count])
values 
('cocaCola',10,4,150);
set @CocaCola_MenuId=SCOPE_IDENTITY();



DECLARE @CesarSalad_MenuId INT;
insert into [Menu]([name],[price],[type],[count])
values 
('salad cesar',30,1,20);
set @CesarSalad_MenuId =SCOPE_IDENTITY();



DECLARE  @CheeseCake_MenuId INT;
insert into [Menu]([name],[price],[type],[count])
values 
('cheese cake',15,1,100);
set @CheeseCake_MenuId  =SCOPE_IDENTITY();


exec start_order_for_new_customer 'jack' , '09924300987',1,1,@JsonTaylor_StaffId,null;
exec start_order_for_new_customer 'jimmy' , '01121100987',1,2,@JsonTaylor_StaffId,null;
exec start_order_for_new_customer 'ricky' , '02290100987',1,3,@JsonTaylor_StaffId,null;

Declare @jack_order_id int ;
Declare @jimmy_order_id int ;
Declare @ricky_order_id int ;

set @jack_order_id=(select top 1 order_id from InPersonOrderCustomer inner join Customer on Customer.id=InPersonOrderCustomer.customer_id where Customer.[name]='jack');
set @jimmy_order_id=(select top 1 order_id from InPersonOrderCustomer inner join Customer on Customer.id=InPersonOrderCustomer.customer_id where Customer.[name]='jimmy');
set @ricky_order_id=(select top 1 order_id from InPersonOrderCustomer inner join Customer on Customer.id=InPersonOrderCustomer.customer_id where Customer.[name]='ricky');


exec add_item_to_order @jack_order_id , @FishWithRice_MenuId,2;
exec add_item_to_order @jack_order_id, @CocaCola_MenuId,3;

exec add_item_to_order @jimmy_order_id , @CesarSalad_MenuId,3;
exec add_item_to_order @jimmy_order_id, @CocaCola_MenuId,3;


exec add_item_to_order @ricky_order_id, @CheeseCake_MenuId,1;


exec end_order @ricky_order_id;
exec end_order @jimmy_order_id;
exec end_order @jack_order_id;


end;
GO
/****** Object:  StoredProcedure [dbo].[start_order_for_existing_customer]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[start_order_for_existing_customer](
	@customer_id int,
	@table_id int,
	@waiter int,
	@order_type int,
	@address nvarchar(255),
	@orderDate datetime
)
as 
begin	
	
	insert into [Order](Finished,orderDate)
	values (0,@orderDate);
	DECLARE @InsertedOrderID INT;
	SET @InsertedOrderID= SCOPE_IDENTITY();
	if @order_type=1 
		begin
            if (select top 1 [Table].[status] from [Table] where [Table].id=@table_id)=1
				begin
					insert into [InPersonOrderCustomer]([customer_id],[table_id],[order_id],[waiter])
					values (@customer_id,@table_id,@InsertedOrderID,@waiter);
					exec update_table_status @InsertedOrderID,2;
				end
			else 
				begin
					raiserror('given table is already in use !',1,16);							
				end
		end
	if (@order_type=2)
		begin
			insert into [TakeAwayCustomer]([customer_id],[order_id])
			values (@customer_id,@InsertedOrderID);
		end
	if (@order_type=3)
		begin
			insert into [DeliveryCustomer]([customer_id],[order_id],[address])
			values (@customer_id,@InsertedOrderID,@address);
		end
end;
GO
/****** Object:  StoredProcedure [dbo].[start_order_for_new_customer]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[start_order_for_new_customer](
	@customerName nvarchar(255),
	@customerPhoneNumber nchar(11),
	@orderType int,
	    --order types :
	--	1.in-person order 
	--  2.take-away order
	--	3.delivery order
	@table_id int,
	@waiter int,
	@address nvarchar(255), --@address will be used in the case when @orderType is delivery
	@orderDate datetime
)
as 
begin
	if @orderType< 1 and @orderType>3
		begin
			RAISERROR('customer type must be 1,2 or 3',16,1);
			return;
		end
	DECLARE @InsertedCustomerID INT;
	insert into [Customer]([name],[phoneNumber])
	values (@customerName,@customerPhoneNumber);
	SET @InsertedCustomerID= SCOPE_IDENTITY(); -- this function gives us the idea of the newly generated record

	insert into [Order](Finished,orderDate)
	values (0,@orderDate);
	DECLARE @InsertedOrderID INT;
	SET @InsertedOrderID= SCOPE_IDENTITY();-- this function gives us the idea of the newly generated record

	if @orderType=1 
		begin
					--check @waiter is staff of type waiter . if not , raise error

			if ((select TOP 1 [Staff].[type] from Staff where Staff.id=@waiter)= 1)
			begin
			    if (select top 1 [Table].[status] from [Table] where [Table].id=@table_id)=1
				begin
					insert into [InPersonOrderCustomer]([customer_id],[table_id],[order_id],[waiter])
					values (@InsertedCustomerID,@table_id,@InsertedOrderID,@waiter);
					exec update_table_status @InsertedOrderID,2;
				end
				else
					begin
						raiserror('given table id is already in use!',1,16);
					end
			end
			else 
			begin
				raiserror('given staff id is not a waiter !',1,16);
			end
		end
	if @orderType=2
		begin
			insert into [TakeAwayCustomer]([order_id],[customer_id])
			values (@InsertedOrderID,@InsertedCustomerID);
		end
	if @orderType=3
		begin
			insert into DeliveryCustomer([order_id],[customer_id],[address])
			values (@InsertedOrderID,@InsertedCustomerID,@address);
		end

end;
GO
/****** Object:  StoredProcedure [dbo].[update_table_status]    Script Date: 6/18/2024 6:09:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[update_table_status](
 @order_id int,
 @status int
)
as 
begin 
declare @table_id int;
set @table_id=(select top 1 table_id from [InPersonOrderCustomer] where [InPersonOrderCustomer].order_id=@order_id);
UPDATE [Table] 
SET [status] = @status
where [Table].id=@table_id;
end;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'lenght must be exactly 11 characters' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'phoneNumber'
GO
USE [master]
GO
