USE [SkymResturant]
GO
/****** Object:  Table [dbo].[TakeAwayCustomer]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TakeAwayCustomer](
	[customer_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TakeAwayCustomer]  WITH CHECK ADD  CONSTRAINT [TakeAwayCustomer_Customer_fk] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[TakeAwayCustomer] CHECK CONSTRAINT [TakeAwayCustomer_Customer_fk]
GO
ALTER TABLE [dbo].[TakeAwayCustomer]  WITH CHECK ADD  CONSTRAINT [TakeAwayCustomer_Order_fk] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[TakeAwayCustomer] CHECK CONSTRAINT [TakeAwayCustomer_Order_fk]
GO
