USE [SkymResturant]
GO
/****** Object:  UserDefinedFunction [dbo].[calculate_earning_in_date_range]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[calculate_earning_in_date_range](
@start datetime,
@end datetime
)
returns int
as
begin
declare @result int;
select  @result=SUM([dbo].[calculate_order_price]([Order].id)) from 
[Order]
where [Order].orderDate BETWEEN @start AND @end;
return @result;
end;
GO
