USE [SkymResturant]
GO
/****** Object:  View [dbo].[day_earning_report]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[day_earning_report]
as
select  CAST ([Order].orderDate AS DATE) as orderDate, SUM([dbo].[calculate_order_price]([Order].[id])) as earning from 
[Order]
GROUP BY CAST ([Order].orderDate AS DATE)
;
GO
