USE [SkymResturant]
GO
/****** Object:  StoredProcedure [dbo].[start_order_for_new_customer]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[start_order_for_new_customer](
	@customerName nvarchar(255),
	@customerPhoneNumber nchar(11),
	@orderType int,
	    --order types :
	--	1.in-person order 
	--  2.take-away order
	--	3.delivery order
	@table_id int,
	@waiter int,
	@address nvarchar(255), --@address will be used in the case when @orderType is delivery
	@orderDate datetime
)
as 
begin
	if @orderType< 1 and @orderType>3
		begin
			RAISERROR('customer type must be 1,2 or 3',16,1);
			return;
		end
	DECLARE @InsertedCustomerID INT;
	insert into [Customer]([name],[phoneNumber])
	values (@customerName,@customerPhoneNumber);
	SET @InsertedCustomerID= SCOPE_IDENTITY(); -- this function gives us the idea of the newly generated record

	insert into [Order](Finished,orderDate)
	values (0,@orderDate);
	DECLARE @InsertedOrderID INT;
	SET @InsertedOrderID= SCOPE_IDENTITY();-- this function gives us the idea of the newly generated record

	if @orderType=1 
		begin
					--check @waiter is staff of type waiter . if not , raise error

			if ((select TOP 1 [Staff].[type] from Staff where Staff.id=@waiter)= 1)
			begin
			    if (select top 1 [Table].[status] from [Table] where [Table].id=@table_id)=1
				begin
					insert into [InPersonOrderCustomer]([customer_id],[table_id],[order_id],[waiter])
					values (@InsertedCustomerID,@table_id,@InsertedOrderID,@waiter);
					exec update_table_status @InsertedOrderID,2;
				end
				else
					begin
						raiserror('given table id is already in use!',1,16);
					end
			end
			else 
			begin
				raiserror('given staff id is not a waiter !',1,16);
			end
		end
	if @orderType=2
		begin
			insert into [TakeAwayCustomer]([order_id],[customer_id])
			values (@InsertedOrderID,@InsertedCustomerID);
		end
	if @orderType=3
		begin
			insert into DeliveryCustomer([order_id],[customer_id],[address])
			values (@InsertedOrderID,@InsertedCustomerID,@address);
		end

end;
GO
