USE [SkymResturant]
GO
/****** Object:  StoredProcedure [dbo].[update_table_status]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[update_table_status](
 @order_id int,
 @status int
)
as 
begin 
declare @table_id int;
set @table_id=(select top 1 table_id from [InPersonOrderCustomer] where [InPersonOrderCustomer].order_id=@order_id);
UPDATE [Table] 
SET [status] = @status
where [Table].id=@table_id;
end;
GO
