USE [SkymResturant]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 6/18/2024 6:09:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fName] [nvarchar](255) NOT NULL,
	[lName] [nvarchar](255) NOT NULL,
	[salary] [int] NOT NULL,
	[startDate] [date] NOT NULL,
	[type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD CHECK  (([type]>=(1) AND [type]<=(5)))
GO
