@page "/"

<PageTitle>SKYM resturant</PageTitle>

<h1>SKYM resturant Management System</h1>
@* <a href="/table">table</a>
<br />
<a href="/todayOrders">today Orders</a>
<br />

<a href="/dayEarningReport">day earning report</a>
<br />

<a href="/topCustomersReport">top customers report</a>
<br />


<a href="/createOrder">create order</a>
<br />
 *@
<menu class="menu">
    <div>
        <ul>
            <li>
                <div class="menu-container">
                    <img class="menu-left-img"
                         src="img/menu-left-flower.png"
                         width="50px"
                         alt="" />
                    <img class="menu-right-img"
                         src="img/menu-right-flower.png"
                         width="50px"
                         alt="" />
                    <a class="text-decoration-none" href="/table">
                        <p class="menu-center-text">tables status</p>
                    </a>
                </div>
            </li>

            <li>
                <div class="menu-container">
                    <img class="menu-left-img"
                         src="img/menu-left-flower.png"
                         width="50px"
                         alt="" />
                    <img class="menu-right-img"
                         src="img/menu-right-flower.png"
                         width="50px"
                         alt="" />
                    <a class="text-decoration-none" href="/todayOrders">
                        <p class="menu-center-text">today Orders</p>
                    </a>
                </div>
            </li>

            <li>
                <div class="menu-container">
                    <img class="menu-left-img"
                         src="img/menu-left-flower.png"
                         width="50px"
                         alt="" />
                    <img class="menu-right-img"
                         src="img/menu-right-flower.png"
                         width="50px"
                         alt="" />
                    <a class="text-decoration-none" href="/dayEarningReport">
                        <p class="menu-center-text">day earning report</p>
                    </a>
                </div>
            </li>

            <li>
                <div class="menu-container">
                    <img class="menu-left-img"
                         src="img/menu-left-flower.png"
                         width="50px"
                         alt="" />
                    <img class="menu-right-img"
                         src="img/menu-right-flower.png"
                         width="50px"
                         alt="" />
                    <a class="text-decoration-none" href="/topCustomersReport">
                        <p class="menu-center-text">top customers report</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="menu-container">
                    <img class="menu-left-img"
                         src="img/menu-left-flower.png"
                         width="50px"
                         alt="" />
                    <img class="menu-right-img"
                         src="img/menu-right-flower.png"
                         width="50px"
                         alt="" />
                    <a class="text-decoration-none" href="/createOrder">
                        <p class="menu-center-text">create order</p>
                    </a>
                </div>
            </li>
            <li>
                <div class="menu-container">
                    <img class="menu-left-img"
                         src="img/menu-left-flower.png"
                         width="50px"
                         alt="" />
                    <img class="menu-right-img"
                         src="img/menu-right-flower.png"
                         width="50px"
                         alt="" />
                    <a class="text-decoration-none" href="/orderLog">
                        <p class="menu-center-text">order log</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</menu>